<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script>
        function login(event) {
            event.preventDefault();
            var email = document.getElementsByName("email")[0].value;
            var password = document.getElementsByName("password")[0].value;

            fetch('/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email: email, password: password })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.token) {
                        localStorage.setItem('jwtToken', data.token);
                        // 设置全局请求头部携带 Token
                        setGlobalAuthHeader(data.token);
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function setGlobalAuthHeader(token) {
            // 每次请求时都设置 Authorization 头
            window.fetch = (function(_fetch){
                return function(url, options) {
                    if (!options) {
                        options = {};
                    }
                    if (!options.headers) {
                        options.headers = {};
                    }
                    options.headers['Authorization'] = 'Bearer ' + token;

                    return _fetch(url, options);
                };
            })(window.fetch);
        }
    </script>
</head>
<body>
<form onsubmit="login(event)">
    <label>
        <input type="email" name="email" required="required" placeholder="Email">
    </label>
    <label>
        <input type="password" name="password" required="required" placeholder="password">
    </label>
    <label>
        <input type="submit">
    </label>
</form>
</body>
</html>
